# Pandas

---

## Series

In [1]:
import numpy as np
import pandas as pd

In [4]:
ser1=pd.Series(data=['venkat','brahma','reddy'],index=['dm','ds','java'])
ser1

dm      venkat
ds      brahma
java     reddy
dtype: object

In [6]:
ser2=pd.Series(data=['venkat','brahma','reddy'],index=['dm','ds','c'])
ser2

dm    venkat
ds    brahma
c      reddy
dtype: object

In [7]:
ser1+ser2                    # NaN means not a number

c                NaN
dm      venkatvenkat
ds      brahmabrahma
java             NaN
dtype: object

In [8]:
ser3=pd.Series(['a','b','c'])            # autoatic to take an index
ser3

0    a
1    b
2    c
dtype: object

In [10]:
ser1['dm']

'venkat'

In [17]:
la=['a','b','c']
lis=[1,2,3]
pd.Series(la,lis)

1    a
2    b
3    c
dtype: object

In [18]:
pd.Series(data=la,index=lis)

1    a
2    b
3    c
dtype: object

In [14]:
dic={'a':10,'b':20,'c':30}
pd.Series(dic)

a    10
b    20
c    30
dtype: int64

In [22]:
pd.Series(dic,lis)

1   NaN
2   NaN
3   NaN
dtype: float64

In [24]:
pd.Series()           #empty series

Series([], dtype: float64)

## Scalar and Fexible values

##### --> The value is represented to match the length of index

In [25]:
s1=pd.Series(5,index=[1,2,3,4])
s1

1    5
2    5
3    5
4    5
dtype: int64

In [38]:
pd.Series('data science',index=[0,1,2,3,4])

0    data science
1    data science
2    data science
3    data science
4    data science
dtype: object

## Data Frame

In [4]:
from numpy.random import randn

In [5]:
randn(5,4)

array([[ 0.88018517,  0.12883292,  0.60012398,  1.39121173],
       [ 0.10644959, -0.61224888,  0.24655481, -1.0576318 ],
       [-0.39361897, -0.33881572, -0.16717819,  0.17688214],
       [ 1.46337545, -0.02922691, -0.22393716,  0.37689048],
       [ 1.37409952, -0.4066208 ,  0.13542546, -0.47803084]])