# pandas  
(most usefull library in ML and very important)

In [108]:
import pandas as pd
import numpy as np

# DF using Dict

In [109]:
data={'Name':['PVBR','Brahma','reddy'],'Age':[23,25,26]}
data

{'Name': ['PVBR', 'Brahma', 'reddy'], 'Age': [23, 25, 26]}

In [110]:
df=pd.DataFrame(data=data)                 # data is name of the file alredy indicates 
df

     Name  Age
0    PVBR   23
1  Brahma   25
2   reddy   26

In [111]:

df.head()

     Name  Age
0    PVBR   23
1  Brahma   25
2   reddy   26

In [112]:
df.tail()

     Name  Age
0    PVBR   23
1  Brahma   25
2   reddy   26

In [113]:
df.tail(1)                      # tail=back row

    Name  Age
2  reddy   26

In [114]:
df.info()                      # non-null means no zero values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
Name    3 non-null object
Age     3 non-null int64
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes

In [115]:
df.columns

Index(['Name', 'Age'], dtype='object')

In [116]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [117]:
df.describe()

             Age
count   3.000000
mean   24.666667
std     1.527525
min    23.000000
25%    24.000000
50%    25.000000
75%    25.500000
max    26.000000

In [118]:
df['Name']

0      PVBR
1    Brahma
2     reddy
Name: Name, dtype: object

In [119]:
df['Age']

0    23
1    25
2    26
Name: Age, dtype: int64

In [120]:
df[['Age','Name']]

   Age    Name
0   23    PVBR
1   25  Brahma
2   26   reddy

In [121]:
df['Name'].describe()

count          3
unique         3
top       Brahma
freq           1
Name: Name, dtype: object

# DF Using List

In [122]:
l=[['reddy','brahma','venkata'],[23,35,46]]
l

[['reddy', 'brahma', 'venkata'], [23, 35, 46]]

In [123]:
df=pd.DataFrame(data=l)
df

       0       1        2
0  reddy  brahma  venkata
1     23      35       46

In [128]:
l=np.array(l).T
l

array([['reddy', '23'],
       ['brahma', '35'],
       ['venkata', '46']], dtype='<U7')

In [129]:
df=pd.DataFrame(data=l,columns=['Name','Age'])
df

      Name Age
0    reddy  23
1   brahma  35
2  venkata  46

# csv

In [4]:
import pandas as pd
import numpy as np

In [5]:
df=pd.read_csv('accidents.csv')              # read the data

In [6]:
df.head()

,Operational date,Time of Accident,KM && M,Position,Rural/Urban,Location,Nature of Accident Position,Nature of Accident,Vehicle Involved,Type of Accident,Causes,Road Feature,Road condition,Intersection Type And Control,Weather Condition,Vehicle Responsible,Help Provided by Ambulance/Patroling Vehicle,Classification of Accident,No of Affected Persons
0,01.01.2012,6:20 AM,1215.6,LHS,Rural,Medarametla,,Lorry over Turned on the Road,Lorry,Grievious injury,Over speed,Four lanes or more with central divider,Straight road,NaN,Fine,WB41C 2334,Yes,Fatal,0.0
1,01.01.2012,6:20 AM,1215.6,LHS,Rural,Medarametla,,Lorry over Turned on the Road,Lorry,Grievious injury,Over speed,Four lanes or more with central divider,Straight road,NaN,Fine,WB41C 2334,Yes,Grevious,1.0
2,01.01.2012,6:20 AM,1215.6,LHS,Rural,Medarametla,,Lorry over Turned on the Road,Lorry,Grievious injury,Over speed,Four lanes or more with central divider,Straight road,NaN,Fine,WB41C 2334,Yes,Minor,0.0
3,01.01.2012,6:20 AM,1215.6,LHS,Rural,Medarametla,,Lorry over Turned on the Road,Lorry,Grievious injury,Over speed,Four lanes or more with central divider,Straight road,NaN,Fine,WB41C 2334,Yes,Non injured,0.0
4,01.01.2012,6:20 AM,1215.6,LHS,Rural,Medarametla,,Lorry over Turned on the Road,Lorry,Grievious injury,Over speed,Four lanes or more with central divider,Straight road,NaN,Fine,WB41C 2334,Yes,Animals affected,0.0

In [7]:
df.tail()

,Operational date,Time of Accident,KM && M,Position,Rural/Urban,Location,Nature of Accident Position,Nature of Accident,Vehicle Involved,Type of Accident,Causes,Road Feature,Road condition,Intersection Type And Control,Weather Condition,Vehicle Responsible,Help Provided by Ambulance/Patroling Vehicle,Classification of Accident,No of Affected Persons
31675,14.07.2019,08:27PM,1210.35,LHS,Rural,Renangivaram,Collision Brush/Side Wipe,NaN,Bike,Grievious injury,Druken,Four lanes or more with central divider,Straight road,NaN,Fine,AP29AZ 1308,A.M.B,Fatal,0.0
31676,14.07.2019,08:27PM,1210.35,LHS,Rural,Renangivaram,Collision Brush/Side Wipe,NaN,Bike,Grievious injury,Druken,Four lanes or more with central divider,Straight road,NaN,Fine,AP29AZ 1308,A.M.B,Grievous,1.0
31677,14.07.2019,08:27PM,1210.35,LHS,Rural,Renangivaram,Collision Brush/Side Wipe,NaN,Bike,Grievious injury,Druken,Four lanes or more with central divider,Straight road,NaN,Fine,AP29AZ 1308,A.M.B,Minor,2.0
31678,14.07.2019,08:27PM,1210.35,LHS,Rural,Renangivaram,Collision Brush/Side Wipe,NaN,Bike,Grievious injury,Druken,Four lanes or more with central divider,Straight road,NaN,Fine,AP29AZ 1308,A.M.B,Non injured,0.0
31679,14.07.2019,08:27PM,1210.35,LHS,Rural,Renangivaram,Collision Brush/Side Wipe,NaN,Bike,Grievious injury,Druken,Four lanes or more with central divider,Straight road,NaN,Fine,AP29AZ 1308,A.M.B,"No of animals Killed,if Any",0.0

In [8]:
df.shape

(31680, 19)

In [12]:
df.to_csv('data.csv')                #  write the data 
data=pd.read_csv('data.csv')
data.head()

,Unnamed: 0,Operational date,Time of Accident,KM && M,Position,Rural/Urban,Location,Nature of Accident Position,Nature of Accident,Vehicle Involved,Type of Accident,Causes,Road Feature,Road condition,Intersection Type And Control,Weather Condition,Vehicle Responsible,Help Provided by Ambulance/Patroling Vehicle,Classification of Accident,No of Affected Persons
0,0,01.01.2012,6:20 AM,1215.6,LHS,Rural,Medarametla,,Lorry over Turned on the Road,Lorry,Grievious injury,Over speed,Four lanes or more with central divider,Straight road,NaN,Fine,WB41C 2334,Yes,Fatal,0.0
1,1,01.01.2012,6:20 AM,1215.6,LHS,Rural,Medarametla,,Lorry over Turned on the Road,Lorry,Grievious injury,Over speed,Four lanes or more with central divider,Straight road,NaN,Fine,WB41C 2334,Yes,Grevious,1.0
2,2,01.01.2012,6:20 AM,1215.6,LHS,Rural,Medarametla,,Lorry over Turned on the Road,Lorry,Grievious injury,Over speed,Four lanes or more with central divider,Straight road,NaN,Fine,WB41C 2334,Yes,Minor,0.0
3,3,01.01.2012,6:20 AM,1215.6,LHS,Rural,Medarametla,,Lorry over Turned on the Road,Lorry,Grievious injury,Over speed,Four lanes or more with central divider,Straight road,NaN,Fine,WB41C 2334,Yes,Non injured,0.0
4,4,01.01.2012,6:20 AM,1215.6,LHS,Rural,Medarametla,,Lorry over Turned on the Road,Lorry,Grievious injury,Over speed,Four lanes or more with central divider,Straight road,NaN,Fine,WB41C 2334,Yes,Animals affected,0.0

In [14]:
df.to_csv('data.csv',index=False)
data=pd.read_csv('data.csv')
data.head()

,Operational date,Time of Accident,KM && M,Position,Rural/Urban,Location,Nature of Accident Position,Nature of Accident,Vehicle Involved,Type of Accident,Causes,Road Feature,Road condition,Intersection Type And Control,Weather Condition,Vehicle Responsible,Help Provided by Ambulance/Patroling Vehicle,Classification of Accident,No of Affected Persons
0,01.01.2012,6:20 AM,1215.6,LHS,Rural,Medarametla,,Lorry over Turned on the Road,Lorry,Grievious injury,Over speed,Four lanes or more with central divider,Straight road,NaN,Fine,WB41C 2334,Yes,Fatal,0.0
1,01.01.2012,6:20 AM,1215.6,LHS,Rural,Medarametla,,Lorry over Turned on the Road,Lorry,Grievious injury,Over speed,Four lanes or more with central divider,Straight road,NaN,Fine,WB41C 2334,Yes,Grevious,1.0
2,01.01.2012,6:20 AM,1215.6,LHS,Rural,Medarametla,,Lorry over Turned on the Road,Lorry,Grievious injury,Over speed,Four lanes or more with central divider,Straight road,NaN,Fine,WB41C 2334,Yes,Minor,0.0
3,01.01.2012,6:20 AM,1215.6,LHS,Rural,Medarametla,,Lorry over Turned on the Road,Lorry,Grievious injury,Over speed,Four lanes or more with central divider,Straight road,NaN,Fine,WB41C 2334,Yes,Non injured,0.0
4,01.01.2012,6:20 AM,1215.6,LHS,Rural,Medarametla,,Lorry over Turned on the Road,Lorry,Grievious injury,Over speed,Four lanes or more with central divider,Straight road,NaN,Fine,WB41C 2334,Yes,Animals affected,0.0

# Excel

In [25]:
#df=pd.read_excel(accidents_train.xlsx')
#df.head()

In [ ]:
#df.tail()

In [26]:
#df.to_excel('data.xlsx',index=False)
#data=pd.read_excel('data.xlsx')
#data.head()

# Json

In [27]:
#df=pd.read_json('accidents_json')
#df.head()

In [28]:
#df.to_json('data.json')
#df=pd.read_json('data.json')
#df.head()

# sql

In [35]:
df=pd.read_csv('accidents.csv')
df

,Operational date,Time of Accident,KM && M,Position,Rural/Urban,Location,Nature of Accident Position,Nature of Accident,Vehicle Involved,Type of Accident,Causes,Road Feature,Road condition,Intersection Type And Control,Weather Condition,Vehicle Responsible,Help Provided by Ambulance/Patroling Vehicle,Classification of Accident,No of Affected Persons
0,01.01.2012,6:20 AM,1215.60,LHS,Rural,Medarametla,,Lorry over Turned on the Road,Lorry,Grievious injury,Over speed,Four lanes or more with central divider,Straight road,NaN,Fine,WB41C 2334,Yes,Fatal,0.0
1,01.01.2012,6:20 AM,1215.60,LHS,Rural,Medarametla,,Lorry over Turned on the Road,Lorry,Grievious injury,Over speed,Four lanes or more with central divider,Straight road,NaN,Fine,WB41C 2334,Yes,Grevious,1.0
2,01.01.2012,6:20 AM,1215.60,LHS,Rural,Medarametla,,Lorry over Turned on the Road,Lorry,Grievious injury,Over speed,Four lanes or more with central divider,Straight road,NaN,Fine,WB41C 2334,Yes,Minor,0.0
3,01.01.2012,6:20 AM,1215.60,LHS,Rural,Medarametla,,Lorry over Turned on the Road,Lorry,Grievious injury,Over speed,Four lanes or more with central divider,Straight road,NaN,Fine,WB41C 2334,Yes,Non injured,0.0
4,01.01.2012,6:20 AM,1215.60,LHS,Rural,Medarametla,,Lorry over Turned on the Road,Lorry,Grievious injury,Over speed,Four lanes or more with central divider,Straight road,NaN,Fine,WB41C 2334,Yes,Animals affected,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31675,14.07.2019,08:27PM,1210.35,LHS,Rural,Renangivaram,Collision Brush/Side Wipe,NaN,Bike,Grievious injury,Druken,Four lanes or more with central divider,Straight road,NaN,Fine,AP29AZ 1308,A.M.B,Fatal,0.0
31676,14.07.2019,08:27PM,1210.35,LHS,Rural,Renangivaram,Collision Brush/Side Wipe,NaN,Bike,Grievious injury,Druken,Four lanes or more with central divider,Straight road,NaN,Fine,AP29AZ 1308,A.M.B,Grievous,1.0
31677,14.07.2019,08:27PM,1210.35,LHS,Rural,Renangivaram,Collision Brush/Side Wipe,NaN,Bike,Grievious injury,Druken,Four lanes or more with central divider,Straight road,NaN,Fine,AP29AZ 1308,A.M.B,Minor,2.0
31678,14.07.2019,08:27PM,1210.35,LHS,Rural,Renangivaram,Collision Brush/Side Wipe,NaN,Bike,Grievious injury,Druken,Four lanes or more with central divider,Straight road,NaN,Fine,AP29AZ 1308,A.M.B,Non injured,0.0
31679,14.07.2019,08:27PM,1210.35,LHS,Rural,Renangivaram,Collision Brush/Side Wipe,NaN,Bike,Grievious injury,Druken,Four lanes or more with central divider,Straight road,NaN,Fine,AP29AZ 1308,A.M.B,"No of animals Killed,if Any",0.0

In [36]:
from sqlalchemy import create_engine               #create_engine is classs
engine=create_engine('sqlite:///')                 #already default inserted the database
df.to_sql('data.db',con=engine)
df=pd.read_sql('data.db',con=engine)
df.head()

,index,Operational date,Time of Accident,KM && M,Position,Rural/Urban,Location,Nature of Accident Position,Nature of Accident,Vehicle Involved,Type of Accident,Causes,Road Feature,Road condition,Intersection Type And Control,Weather Condition,Vehicle Responsible,Help Provided by Ambulance/Patroling Vehicle,Classification of Accident,No of Affected Persons
0,0,01.01.2012,6:20 AM,1215.6,LHS,Rural,Medarametla,,Lorry over Turned on the Road,Lorry,Grievious injury,Over speed,Four lanes or more with central divider,Straight road,None,Fine,WB41C 2334,Yes,Fatal,0.0
1,1,01.01.2012,6:20 AM,1215.6,LHS,Rural,Medarametla,,Lorry over Turned on the Road,Lorry,Grievious injury,Over speed,Four lanes or more with central divider,Straight road,None,Fine,WB41C 2334,Yes,Grevious,1.0
2,2,01.01.2012,6:20 AM,1215.6,LHS,Rural,Medarametla,,Lorry over Turned on the Road,Lorry,Grievious injury,Over speed,Four lanes or more with central divider,Straight road,None,Fine,WB41C 2334,Yes,Minor,0.0
3,3,01.01.2012,6:20 AM,1215.6,LHS,Rural,Medarametla,,Lorry over Turned on the Road,Lorry,Grievious injury,Over speed,Four lanes or more with central divider,Straight road,None,Fine,WB41C 2334,Yes,Non injured,0.0
4,4,01.01.2012,6:20 AM,1215.6,LHS,Rural,Medarametla,,Lorry over Turned on the Road,Lorry,Grievious injury,Over speed,Four lanes or more with central divider,Straight road,None,Fine,WB41C 2334,Yes,Animals affected,0.0

# Pickel

In [40]:
df=pd.read_csv('accidents.csv')
df.head()

,Operational date,Time of Accident,KM && M,Position,Rural/Urban,Location,Nature of Accident Position,Nature of Accident,Vehicle Involved,Type of Accident,Causes,Road Feature,Road condition,Intersection Type And Control,Weather Condition,Vehicle Responsible,Help Provided by Ambulance/Patroling Vehicle,Classification of Accident,No of Affected Persons
0,01.01.2012,6:20 AM,1215.6,LHS,Rural,Medarametla,,Lorry over Turned on the Road,Lorry,Grievious injury,Over speed,Four lanes or more with central divider,Straight road,NaN,Fine,WB41C 2334,Yes,Fatal,0.0
1,01.01.2012,6:20 AM,1215.6,LHS,Rural,Medarametla,,Lorry over Turned on the Road,Lorry,Grievious injury,Over speed,Four lanes or more with central divider,Straight road,NaN,Fine,WB41C 2334,Yes,Grevious,1.0
2,01.01.2012,6:20 AM,1215.6,LHS,Rural,Medarametla,,Lorry over Turned on the Road,Lorry,Grievious injury,Over speed,Four lanes or more with central divider,Straight road,NaN,Fine,WB41C 2334,Yes,Minor,0.0
3,01.01.2012,6:20 AM,1215.6,LHS,Rural,Medarametla,,Lorry over Turned on the Road,Lorry,Grievious injury,Over speed,Four lanes or more with central divider,Straight road,NaN,Fine,WB41C 2334,Yes,Non injured,0.0
4,01.01.2012,6:20 AM,1215.6,LHS,Rural,Medarametla,,Lorry over Turned on the Road,Lorry,Grievious injury,Over speed,Four lanes or more with central divider,Straight road,NaN,Fine,WB41C 2334,Yes,Animals affected,0.0

In [42]:
df.to_pickle('accidents.pickle')
df=pd.read_pickle('accidents.pickle')
df.head()

,Operational date,Time of Accident,KM && M,Position,Rural/Urban,Location,Nature of Accident Position,Nature of Accident,Vehicle Involved,Type of Accident,Causes,Road Feature,Road condition,Intersection Type And Control,Weather Condition,Vehicle Responsible,Help Provided by Ambulance/Patroling Vehicle,Classification of Accident,No of Affected Persons
0,01.01.2012,6:20 AM,1215.6,LHS,Rural,Medarametla,,Lorry over Turned on the Road,Lorry,Grievious injury,Over speed,Four lanes or more with central divider,Straight road,NaN,Fine,WB41C 2334,Yes,Fatal,0.0
1,01.01.2012,6:20 AM,1215.6,LHS,Rural,Medarametla,,Lorry over Turned on the Road,Lorry,Grievious injury,Over speed,Four lanes or more with central divider,Straight road,NaN,Fine,WB41C 2334,Yes,Grevious,1.0
2,01.01.2012,6:20 AM,1215.6,LHS,Rural,Medarametla,,Lorry over Turned on the Road,Lorry,Grievious injury,Over speed,Four lanes or more with central divider,Straight road,NaN,Fine,WB41C 2334,Yes,Minor,0.0
3,01.01.2012,6:20 AM,1215.6,LHS,Rural,Medarametla,,Lorry over Turned on the Road,Lorry,Grievious injury,Over speed,Four lanes or more with central divider,Straight road,NaN,Fine,WB41C 2334,Yes,Non injured,0.0
4,01.01.2012,6:20 AM,1215.6,LHS,Rural,Medarametla,,Lorry over Turned on the Road,Lorry,Grievious injury,Over speed,Four lanes or more with central divider,Straight road,NaN,Fine,WB41C 2334,Yes,Animals affected,0.0